footer.footer {
  background: #465568;
  padding: 80px 0px 100px;
  color: #FCFCFC;
  @include fz(14);
}
.col-footer {
  &-left {
    flex: 0 0 18%;
    max-width: 18%;
  }
  &-right {
    flex: 0 0 20%;
    max-width: 20%;
  }
  &-middle {
    flex: 0 0 62%;
    max-width: 62%;
  }
}

.footer-logo {
  margin-bottom: 33px;
}
.footer-title {
  font-weight: 700;
  margin-bottom: 24px;
  @include fz(16);
}
.footer-models {
  margin-bottom: 40px;

  &-list {
    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 50px;
      margin-bottom: 16px;
    }
    a {
      color: #FCFCFC;

      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-menu {
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 16px;
  }
  a {
    color: #FFF;
    font-weight: 700;
    @include fz(16);

    &:hover {
      color: $primary;
    }
  }
}

.footer-contacts {
  margin-bottom: 22px;

  &-item {
    position: relative;
    padding-left: 22px;
    margin-bottom: 15px;

    a {
      color: #FCFCFC;

      &:hover {
        color: $primary;
      }
    }
  }
  &-icon {
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    fill: #FCFCFC;
  }
  .svg-inline {
    width: 20px;
    height: 20px;
    margin-right: 1px;
  }
}