header.header {
  background: #fff;
}

.header-logo {
  margin-right: 30px;
}
.logo {
  &-link {
    width: 120px;
    height: 100px;
    padding: 10px;
    background: #131a2a;

    img {
      max-height: 80px;
    }
  }
}

.header-menu {
  margin-right: 35px;
  li {
    display: inline-block;
    vertical-align: middle;
    // position: relative;
    a {
      &:hover {
        color: $primary;
      }
      @media (min-width: 992px) {
        display: block;
        padding: 10px 12px;
        color: $font;
        font-weight: 700;
      }
    }
  }
}

.header-contacts {
  margin-right: 30px;
  padding-right: 60px;
  white-space: nowrap;
  text-align: right;
  line-height: 1.25;

  &-top {
    position: relative;
  }
  &-icons {
    position: absolute;
    right: -60px;
    top: -3px;
  }
  a {
    color: $font;

    &:hover {
      color: $primary;
    }
  }
  &-phone {
    font-weight: 600;
  }
  &-callback {
    @include fz(13);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
svg.svg-header-contact {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 3px;
}

.header-search {
  &-toggler {
    width: 36px;
    height: 36px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
  &-form {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

// Style for dropdown menu

// Link first-lvl
.main-menu > ul > li > a {
  // position: relative;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  padding: 0px 28px;
  @media (max-width: 992px) {
    border-bottom: 1px solid #858c96;
  }
}
// Link second-lvl
@media (max-width: 992px) {
  .main-menu > ul > li > ul > li {
    padding-left: 40px;
    background: #252c36;
    border-bottom: 1px solid #858c96;
    @media (max-width: 576px) {
      padding-left: 0;
      a {
        padding: 8px 5px;
      }
    }
  }
}

.main-menu > ul > .childs-in {
  position: relative;
}
@media (min-width: 992px) {
  .main-menu ul ul {
    position: absolute;
    left: 0;
    top: 80px;
    width: 220px;

    visibility: hidden;
    opacity: 0;
    transform: translate3d(0px, 10px, 0px);
    background: #f4f4f4;
    z-index: 99;
    transition: visibility 0.15s, opacity 0.15s, transform 0.15s;
    line-height: 1.2;
    margin: 0;
    @media (max-width: 1170px) {
      top: 60px;
    }
    & li {
      padding: 16px 31px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 50px;
      top: -50px;
    }
  }
  .main-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  .main-menu li > ul {
    flex-direction: column;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.75);
    max-height: 500px;
    & > li {
      width: 100%;
      text-align: left;
      &:hover {
        background: #fff;
      }
    }
  }
  // @media (min-width: 992px)
}

.main-menu li > ul > .childs-in > ul {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: auto;
  background: #fff;
  width: 882px;
  left: 220px;
  top: 0;
  @media (max-width: 1500px) {
    width: 530px;
  }
  @media (max-width: 992px) {
    display: none;
    background: transparent;
    overflow-y: unset;
  }
  & > li {
    background: #fff;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 30px;
    margin: 0;
    vertical-align: top;
    @media (max-width: 1500px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    // @media (max-width: 576px) {
    //   -ms-flex: 0 0 100%;
    //   flex: 0 0 100%;
    //   max-width: 100%;
    // }
    @media (max-width: 992px) {
      background: transparent;
    }
    @media (max-width: 576px) {
      padding-right: 5px;
    }
  }
}

.wrapper .header-menu-mobile-img {
  margin-bottom: 8px;
  height: 128px;

  img {
    max-height: 128px;
  }
  @media (max-width: 992px) {
    height: 70px;
    text-align: center;
    img {
      display: inline-block;
      max-height: 70px;
    }
  }
}

.header-menu-mobile-title {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  @media (max-width: 576px) {
    font-size: 12px;
    word-wrap: break-word;
  }
  @media (max-width: 400px) {
    font-size: 11px;
  }
}

// Hover for open menu
@media (min-width: 992px) {
  .header-menu-first a:hover + .header-menu-second {
    display: block;
  }
}
//
@media (max-width: 992px) {
  .childs-toggler {
    display: inline-block;
    position: absolute;
    // right: 10px;
    width: 12px;
    height: 12px;
    border-left: 3px solid #858c96;
    border-bottom: 3px solid #858c96;
    transform: rotate(-45deg) translate(-50%, -50%);
    right: 10px;
    top: 35%;
    &:before {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      background: transparent;
    }
  }
}
.childs-in ul {
  display: none;
}

@media (max-width: 992px) {
  .main-menu > ul > li > ul {
    display: none;
  }
}
.main-menu > ul > li .opened {
  display: inline-block;
}

@media (max-width: 992px) {
  .main-menu > ul > li > ul > li > ul {
    display: none;
  }
}
@media (max-width: 992px) {
  .main-menu ul,
  li {
    width: 100%;
  }
}
// ! 🔥 🔥 🔥 🔥 🔥 🔥
@media (max-width: 992px) {
  .main-menu {
    padding: 0 !important;
  }
  .header-menu li a {
    position: relative;
  }
  .main-menu li > ul > .childs-in > ul.opened {
    display: flex;
    width: 100%;
  }
  .main-menu li > ul > .childs-in > ul {
    max-height: unset;
  }
}

.childs-toggler.opened {
  transform: rotate(135deg) translate(-50%, -50%);
  right: 27px;
  top: 40%;
}

// Social links
.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
  width: initial;
}
