.promotion-wrapper {
  margin-bottom: 70px;
}

.inner-z-index {
  position: relative;
  z-index: 5;
}

.promotion-card {
  position: relative;
  padding: 26px;
  padding-bottom: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.15);
  border-radius: 30px;
  margin-bottom: 30px;
  transition: box-shadow .5s;
}

.promotion-card:hover {
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.2);
}

.promotion-image {
  display: inline-block;
  margin-bottom: 33px;
  max-width: 568px;
  max-height: 252px;
}

.promotion-name {
  display: block;
  max-height: 88px;
  overflow: hidden;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #465568;
  margin-bottom: 10px;
}

.promotion-link {
  position: absolute;
  bottom: 36px;
  left: 26px;
}

.promotion-block-title {
  margin-bottom: 70px;
}

.promotion-slider>.slick-dots {
  visibility: hidden;
  display: none !important;
}

.promotion-slider {
  line-height: 0;
  padding: 0;
  margin: 0;
  margin-right: -10px;
  margin-left: -10px;
}

.promotion-slider>.slick-arrow {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  font-size: 0;
  width: 37px;
  z-index: 98;
  background-color: #627790;
  opacity: 0.5;
  border-radius: 0;
}

.promotion-slider>.slick-prev {
  left: 10px;
}

.promotion-slider>.slick-next {
  right: 10px;
}

.promotion-slider-item {
  padding-right: 10px;
  padding-left: 10px;
}

.promotion-slider-item-img {
  display: block;
  margin: 0 auto;
}

.main-promotion-wrapper {
  width: 100%;
  height: 566px;
  background-color: #EFF6FF;
  padding-top: 60px;
}

.feedback-after-promo {
  margin-top: -120px;
}

@media (max-width:992px) {
  .promotion-card {
    padding: 20px;
    min-height: 0px;
    border-radius: 10px;
  }

  .promotion-image {
    margin-bottom: 10px;
  }

  .promotion-link {
    visibility: hidden;
  }

  .promotion-name {
    font-size: 1.25rem;
    max-height: 75px;

  }
}

@media (max-width:576px) {
  .promotion-card {
    min-height: 0px;
    border-radius: 10px;
  }

  .promotion-image {
    margin-bottom: 10px;
  }

  .row-promotion {
    display: block;
  }

  .col-6-promotion {
    max-width: 100%;
  }
}